---
import Layout from "../layouts/Layout.astro";
import { ViewTransitions } from "astro:transitions";
import api from "../lib/api";
import Svgform from "../components/Svgform.astro";
import { getErrorMessages } from "../lib/getErrors";

const errorMessage = [];

if (Astro.request.method === "POST") {
  const formData = await Astro.request.formData();
  try {
    const email = formData.get("email");
    const password = formData.get("password");
    await api.post("/api/users/login", {
      email: email,
      password: password,
    });
    return Astro.redirect("/dashboard");
  } catch (errors: any) {
    if (errors.response.data.errors == "Email or Password is invalid") {
      errorMessage.push({
        field: "emailPassword",
        message: errors.response.data.errors,
      });
    }

    const errorsResponse = getErrorMessages(errors.response.data.errors);
    for (let i = 0; i < errorsResponse.length; i++) {
      errorMessage.push(errorsResponse[i]);
    }
  }
}
---

<Layout title="Login">
  <ViewTransitions />
  <main>
    <!-- component -->
    <div class="flex h-screen">
      <!-- Left Pane -->
      <Svgform />
      <!-- Right Pane -->
      <div class="w-full bg-gray-100 lg:w-1/2 flex items-center justify-center">
        <div class="max-w-md w-full p-6">
          <h1 class="text-3xl font-semibold mb-6 text-black text-center">
            Login
          </h1>
          <h1 class="text-sm font-semibold mb-6 text-gray-500 text-center">
            Join to Our Community with all time access and free
          </h1>
          <form action="#" method="POST" class="space-y-4">
            <!-- Your form elements go here -->
            <div>
              <label for="email" class="block text-sm font-medium text-gray-700"
                >Email</label
              >
              <input
                type="text"
                id="email"
                name="email"
                class="mt-1 p-2 w-full border rounded-md focus:border-gray-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-300 transition-colors duration-300"
                required
              />
            </div>
            <div>
              <label
                for="password"
                class="block text-sm font-medium text-gray-700">Password</label
              >
              <input
                type="password"
                id="password"
                name="password"
                class="mt-1 p-2 w-full border rounded-md focus:border-gray-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-300 transition-colors duration-300"
                required
              />
            </div>
            {
              errorMessage.map((error) => (
                <p class="text-red-500">{error.message}</p>
              ))
            }
            <div>
              <button
                type="submit"
                class="w-full bg-black text-white p-2 rounded-md hover:bg-gray-800 focus:bg-black focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-900 transition-colors duration-300"
                >login</button
              >
            </div>
          </form>
          <div class="mt-4 text-sm text-gray-600 text-center">
            <p>
              Don't have an account yet? <a
                href="/"
                class="text-black hover:underline">Sign Up here</a
              >
            </p>
          </div>
        </div>
      </div>
    </div>
  </main>
</Layout>
